/** Global Style **/
main {
  min-height: 80vh;
}

a {
  color: #5a5a5a;
  text-decoration: none;
}

/** Header Style **/

header .navbar-light .navbar-brand,
header .navbar-light .navbar-brand:focus,
header .navbar-light .navbar-brand:hover {
  color: #fff;
}

header .navbar-light .navbar-nav .nav-link,
header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
